# Handle line endings automatically
* text=auto

# Denote all files that are truly images and should not be modified
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary

# Ensure shell scripts have LF endings
*.sh text eol=lf
